<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>{{ "footer.companyTitle" | translate }}</h4>
        <ul>
          <li><a (click)="scrollToSection('about-me')">{{ "footer.companyLinks.home" | translate }}</a></li>
          <li><a (click)="scrollToSection('services')">{{ "footer.companyLinks.services" | translate }}</a></li>
          <li><a (click)="scrollToSection('reviews')">{{ "footer.companyLinks.review" | translate }}</a></li>
          <li><a (click)="scrollToSection('contact')">{{ "footer.companyLinks.contact" | translate }}</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>{{ "footer.resourcesTitle" | translate }}</h4>
        <ul>
          <li><a href="#">{{ "footer.resourcesLinks.blog" | translate }}</a></li>
          <li><a href="#">{{ "footer.resourcesLinks.podcasts" | translate }}</a></li>
          <li><a href="#">{{ "footer.resourcesLinks.freeTools" | translate }}</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>{{ "footer.connectTitle" | translate }}</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/profile.php?id=100062968344406&mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/atikkhaled?igsh=dm4xcm9ucnFraGV5" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://mail.google.com/mail/?view=cm&fs=1&to=atik.khaled90@gmail.com" target="_blank">
            <i class="fas fa-envelope"></i>
          </a>
          
          <a href="https://www.youtube.com/@khaledatik8763" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
          
        </div>
      </div>
      <div class="footer-col">
        <h4>{{ "footer.logoTitle" | translate }}</h4>
        <div class="logo">
          <img src="/assets/img/LOGO.png" alt="Company Logo" class="footer-logo">
        </div>
      </div>
    </div>
  </div>
  
  <!-- Copyright Section -->
  <div class="footer-bottom">
    <div class="container">
      <p> {{ "footer.copyrightText" | translate }} {{"footer.logoName" | translate}}</p>
    </div>
  </div>
</footer>

