   
   <div class="hero">
        <div class="container">
            <div class="article">
                <div class="title">
                    <h1>{{ 'About.title' | translate }}</h1>
                </div>
                <div class="content">
                
                    <p>{{ 'About.description' | translate }}</p>
                   

                </div>
            </div>
            <div class="image-section">
                <img src="\assets\img\hero-img.jpg" alt="">
            </div>
        </div>
    </div>

    
