<section class="py-5 py-xl-8" style="margin-bottom: 100px;">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="mb-4 display-5 text-center">{{ 'services.title' | translate }}</h2>
          <p class="text-secondary mb-5 text-center">{{ 'services.description' | translate }}</p>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
    </div>
  
    <div class="container overflow-hidden">
      <div class="row gy-5 gx-md-4 gy-lg-0 gx-xxl-5 justify-content-center">
        <div class="col-11 col-sm-6 col-lg-3">
          <div class="badge" style="background-color: #253b72; padding: 1.5rem; margin-bottom: 0.7rem;">
            <i class="fas fa-comments" style="color: white; font-size: 20px;"></i>
          </div>
          <h4 class="mb-3">{{ 'services.motivationalSpeaker.title' | translate }}</h4>
          <p class="mb-3 text-secondary">{{ 'services.motivationalSpeaker.description' | translate }}</p>
        </div>
        <div class="col-11 col-sm-6 col-lg-3">
          <div class="badge" style="background-color: #253b72; padding: 1.5rem; margin-bottom: 0.7rem;">
            <i class="fas fa-user-friends" style="color: white; font-size: 20px;"></i>
          </div>
          <h4 class="mb-3">{{ 'services.lifeCoach.title' | translate }}</h4>
          <p class="mb-3 text-secondary">{{ 'services.lifeCoach.description' | translate }}</p>
        </div>
        <div class="col-11 col-sm-6 col-lg-3">
          <div class="badge" style="background-color: #253b72; padding: 1.5rem; margin-bottom: 0.7rem;">
            <i class="fas fa-brain" style="color: white; font-size: 20px;"></i>
          </div>
          <h4 class="mb-3">{{ 'services.mentalHealthTherapist.title' | translate }}</h4>
          <p class="mb-3 text-secondary">{{ 'services.mentalHealthTherapist.description' | translate }}</p>
        </div>
        <div class="col-11 col-sm-6 col-lg-3">
          <div class="badge" style="background-color: #253b72; padding: 1.5rem; margin-bottom: 0.7rem;">
            <i class="fas fa-briefcase" style="color: white; font-size: 20px;"></i>
          </div>
          <h4 class="mb-3">{{ 'services.businessAdvisor.title' | translate }}</h4>
          <p class="mb-3 text-secondary">{{ 'services.businessAdvisor.description' | translate }}</p>
        </div>
      </div>
    </div>
</section>
    