@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');
.container h2 {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    color: #253b72;

 
}
.col-11 h4 {
    font-weight: bold;
}


button {
    background-color: #F0B631;
    color: #253b72;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid white;
    box-shadow: 0 0 0 0 #253b72;
}

button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

.get-action {
    display: flex;
    justify-content: center;
    align-items: center;
 /* Ensures no extra margins interfere */
}
