<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6">
                <h1>{{ 'Home.COACH' | translate }}</h1>
                <h2>{{ 'Home.NAME' | translate }}</h2>
                <p class="title">{{ 'Home.TAGLINE' | translate }}</p>
                <a (click)="scrollToSection('services')" class="btn btn-default smoothScroll">{{"Home.Button"|translate}}   ></a>
            </div>
            <div class="image-content">
                <img src="assets/img/Khalid.png" alt="Coach Khalid">
            </div>
        </div>
    </div>
</div>
