<header>
  <div class="container_Review">
    <div class="container_left">
      <h1>{{"REVIEWS.TITLE"|translate}}</h1>
      <p id="test">{{"REVIEWS.INTRO"|translate}}</p>
    
    </div>
    <div class="container_right">
      <div class="card">
        <div class="card_content">
         
          <div class="card_details">
            <p>{{"REVIEWS.REVIEW_1.TEXT"|translate}}</p>
           
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card_content">
          <span></span>
          <div class="card_details">
            <p>{{"REVIEWS.REVIEW_2.TEXT"|translate}}</p>
           
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card_content">
          <span></span>
          <div class="card_details">
            <p>{{"REVIEWS.REVIEW_3.TEXT"|translate}}</p>
         
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card_content">
          <span></span>
          <div class="card_details">
            <p>{{"REVIEWS.REVIEW_4.TEXT"|translate}}</p>
         
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
    <br>
    <div class="get-action">
     <a href="https://api.whatsapp.com/send?phone=213779528435" class="float" target="_blank"> <button>
      {{"Hover.title" |translate}}   <i class="bi bi-telephone"></i>
      </button></a>
    </div>
</header>
